table {
  height: 500px;
  width: 1000px;
}

table, th, tr {
  border: 1px solid black;
}

tr:nth-child(n+4):nth-child(-n+8) > th:nth-child(n+4):nth-child(-n+7) {
  background-color: brown;
}

.card1::after {
  content: '\2660';
}

.card2::after {
  content: '\2663';
}

.card3::after {
  content: '\2665';
}
